body{
    background: #212121;
    color: #dadada;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

.nav{
    background: #333;
    color: #ef6700;
    padding: 1rem;
    font-size: 1.2rem;
}

.container{
    width: 85%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 0.5rem;
}

.shortLink{
    border-bottom-color: #ef6700;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10%;
}

input{
    background: none;
    border: none;
    outline: none;
    height: 2rem;
    width: 100%;
    font-size: 1.5rem;
    color: #dadada;
}

.shortButton{
    text-align: center;
    padding-top: 1rem;
}

button{
    background: #353535;
    color: white;
    border: none;
    font-size: 1rem;
    padding: 0.5rem;
    outline: none;
}

button:hover{
    color: #ef6700;
}

button:active{
    background: #505050;
}

.LinkOutput{
    padding-top: 1rem;
    text-align: center;
    font-size: 1.5rem;
}

.error{
    background: #ce2626;
    text-align: center;
    padding: 0.5rem;
    margin-bottom: 1rem;
}